.img1{
    height: 33px;
    width: 3%;
    margin-top: 20px;
    margin-left: -1550px

}
.header{
    background-color: rgb(155, 201, 201);
    height: 80px;
}

.name{
    height: 40px;
    width: 14%;
    background-color: rgb(241, 229, 229);
    margin-left: 1400px;
    margin-top: -30px;
}
.name-2{
    height: 27px;
    width: 2%;
    background-color: rgb(250, 241, 241);
    margin-left: 1647px;
    margin-top: -35px;

}
.left{
    height: 160px;
    width: 14%;
    background-color: #c8c8f1;
}
.img2
{
    height: 77px;
    width: 47%;
    margin-top: 24px;
    border-radius: 47px;
}
.side-content
{
    background-color: rgb(162, 162, 179);
    height: 511px;
    width: 14%;
    position: relative;
}
.side-content-1{
    height: 40px;
    width:61%;
    position: absolute;
    border-top-right-radius: 50px 20px;
background-color: rgb(69, 165, 194);
}
.side-content-2{

    background-color: rgb(198, 218, 218);
    height: 40px;
    width: 61%;
    position: absolute;
    margin-top: 84px;
}
.side-content-3{
    background-color: rgb(198, 218, 218);
    height: 40px;
    width: 61%;
    position: absolute;
    margin-top: 160px; 
}
.side-content-4{
    background-color: rgb(198, 218, 218);
    height: 40px;
    width: 61%;
    position: absolute;
    margin-top: 240px; 
}
.side-content-5{
    background-color: rgb(198, 218, 218);
    height: 40px;
    width: 61%;
    position: absolute;
    margin-top: 320px; 
}
.side-content-6{
    background-color: rgb(198, 218, 218);
    height: 40px;
    width: 100%;
    position: absolute;
    margin-top: 471px;
    margin-left: 0px;
}
.menu{
    background-color: rgb(208, 208, 240);
    height: 670px;
    width: 100%;
    margin-left: 200px;
    margin-top: -671px;
}
.card1
{
    margin-top: 30px;
    margin-left: 52px;
}
.text{
    margin-left: -1000px;
    
}
.sub-menu{
    background-color: rgb(191, 191, 230);
    height: 224px;
    width: 40%;
    margin-top: 24px;
    margin-left: 56px;
    position: relative;
}
.sub-menu-2{
    background-color: rgb(50, 211, 71);
    height: 30px;
    width: 22%;
    position: absolute;
    margin-top: 22px;
    margin-left: 20px;
    border-radius: 21px;
}
.sub-menu-4
{
    background-color: blue;
    margin-left: 50px;
}
.sub-item{
    background-color: rgb(191, 191, 230);
    
    height: 219px;
    width: 40%;
    margin-top: -224px;
    margin-left: 800px;
}
.elmnt2{
    height: 30px;
    width: 40%;
    border-radius: 20px;
    margin-left: 77px;
    margin-top: 16px;
    background-color: rgb(56, 56, 233);
}
